.gamespage-container {
  height: 100%;
  width: 100%;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  &-inner {
    max-width: 1280px;
    border-radius: 15px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    padding: 15px;
    & > a {
      width: 250px;
    }
  }
}