.header{
  padding: 10px 16px;
  position: sticky; top: 0;
  background-color: rgba(31,27,46,.88);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  z-index: 2;
  
  .header-logo{
    padding-left: 5px;
    color: rgb(18, 250, 250);
  }
}