.header {
  padding: 10px 16px;
  position: sticky; top: 0;
  background-color: rgba(31,27,46,.88);
  backdrop-filter: blur(0px);
  display: flex;
  justify-content: space-between;
  z-index: 2;
  height: 2em;
  flex-direction: row-reverse;

  .header-logo {
    padding-left: 5px;
  }
}