@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

.swiper{
  margin-top: 10px;
}

.page-section {
  $roboto-slab: 'Roboto Slab', serif;  
  margin: 15px 0;
}