@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Oleo+Script&display=swap);

$open-sans: 'Open Sans',sans-serif;

.header {
  padding: 10px 16px;
  height: auto;
  position: sticky; top: 0;
  background-color: rgba(31,27,46,.88);
  backdrop-filter: blur(0px);
  display: flex;
  z-index: 2;
  align-items: center;
  place-content: center;

  .header-logo {
    padding-left: 5px;
    height: 32px;
  }
}

.header-container {
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  margin-right: 15px;
}

.header--item {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
  padding: 5px;
  margin-right: 15px;
}

.header--item-icon {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}

.poster > img {
  width: 190px;
  height: 200px;
}

.game:hover {
  scale: 1;
  transition: 300ms;
}

.game {
  min-height: 300px;
  font-family: $open-sans;
  scale: 0.75;
  
  .game-title {
    text-align: center;
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .game-image {
    height: 300px;
    border-radius: 15px;
    background-size: cover;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
     rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
     rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
     rgba(0, 0, 0, 0.06) 0px 2px 1px, 
     rgba(0, 0, 0, 0.09) 0px 4px 2px, 
     rgba(0, 0, 0, 0.09) 0px 8px 4px, 
     rgba(0, 0, 0, 0.09) 0px 16px 8px, 
     rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-position: center;
    background-image: url(../../images/poster.jpg);

    .game-rating {
      background-color: #da0000;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      width: fit-content;
      padding: 10px;
      top: 10px;
      position: absolute;
      left: 10px;
    }
  
    .game-age-rating {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-shadow: 2px 2px 2px 2px black;
    }
  }
}

@media (min-width: 560px) {
  .game-title {
    font-size: 1.2em;
  }
  .game-image{
    height: 250px;
  }
  .header--item-icon {
    width: 64px;
    height: 64px;
  }
  .header > .header-logo {
    height: 50px;
  }
}

@media (max-width: 560px) {
  .game{
    scale: 0.95;
  }
}

@media (min-width: 960px) {
  .game-title {
    font-size: 1.4em;
  }
}

@media (min-width: 1280px) {
  .game-title {
    font-size: 2em;
  }
}