@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

.page-section {
  $roboto-slab: 'Roboto Slab', serif;  
  margin: 15px 0;
  max-width: 1280px;
  text-align: start;
  color: rgb(252, 11, 11);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-genre {
  text-decoration: none;
  padding-left: 15px;
  font-size: 2em;
}

@media (min-width: 560px) {
  .page-section {
    margin: 10px 0;
  }
}